{% extends 'pages/base.html' %}
<!-- Inherits the layout and common structure from pages/base.html -->

{% block title %} {{title}} {% endblock %}
<!-- Sets the page title using the 'title' variable passed from the view -->

{% block header_title %} {{subtitle}} {% endblock %}
<!-- Sets the page's main header/title using the 'subtitle' variable -->

{% block content %}
<!-- Start of the content section that will be inserted into the base template -->

<div class="card mb-3">
    <!-- A Bootstrap card component with a bottom margin -->

    <div class="row g-0">
        <!-- A Bootstrap row with no gutters (spacing between columns) -->

        <div class="col-md-4">
            <!-- Left column for the product image -->
            <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid rounded-start">
            <!-- Static placeholder image; 'img-fluid' makes it responsive, 'rounded-start' rounds left corners -->
        </div>

        <div class="col-md-8">
            <!-- Right column for the product details -->

            <div class="card-body">
                <!-- Card content container -->

                <h5 class="card-title">
                    {{product.name}}
                </h5>
                <!-- Conditional for product price -->

                {% if product.price > 2000 %}
                    <p class="card-text" style="color: red;">{{ product.price }}</p>
                {% else %}
                    <p class="card-text">{{ product.price}}.</p>
                {% endif %}
                {% for comment in product.comment_set.all %}
                 - {{ comment.description }} <br />
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
<!-- End of content section -->
